body {
    background: #ffffff;
    margin: 0;
    font-family:Georgia, Helvetica;
    color: black; 
    text-align:center;
}

nav {
    position: fixed;
    top:0px;
    width:100%;
    overflow:hidden;
    z-index:1;
}

#contactEmail {
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#contactEmail:hover {
    color: blue;
}

ul {
    background-color: #252525;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol {
    list-style:none; 
    padding:0; 
    border: 1px solid transparent;
    text-align: center;
}

hr {
    width: 20%;
    margin-top:28px;
}

#menuBtn {
    float: left;
    font-family: georgia;
    text-align: center;
    padding: 11px 10px;
    color: white;
    text-decoration: none;
    margin-top: 3px;
    display: block;
    padding: 10px;
    background-color:#252525;
    margin-right:4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#menuBtn:hover {
    background-color: #666666
}

#skillList {
    font-size: 24px;
}

acronym {
    font-weight: bold; 
    font-style: italic; 
    color:black;
}

#TunnelMe {
    box-shadow: 2px 2px 12px rgb(19, 19, 19);
    max-width: 100%;
    max-height: 800px;
    overflow: hidden;
}

#twitterLogo {
    height: 65px;
    Width: 65px; 
    margin:15px;
    z-index: 2;
}

#LinkedInLogo {
    height: 65px;
    Width: 65px;
    margin:15px;
    z-index: 2;
}

#GitHubLogo {
    height: 65px;
    Width: 65px;
    margin:15px;
    z-index: 2;
}

#anmImg {
    width: 30%;
}

#logo2 {
    margin: auto; 
    letter-spacing: 1px;
    text-shadow:3px 6px 8px #1b1b1b;
    position: relative;
    bottom: 40px;
    font-size: 15px;
}

.siteLogo {
    white-space: nowrap;
    font-size: 40px;
    display: inline;
    margin: auto;
    letter-spacing: 1px;
    position: relative;
    bottom: 40px;
    padding: 5px;
    padding-left: 12px;
    padding-bottom: 35px;
    text-shadow: 5px 6px 8px #1d1d1d;
}

#homepage {
    position: relative;
    text-align: center;
    color:white;
}

.contentPosLogo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projectPageLayout {
    margin:auto;
    width: 80%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-top: 30px;
    color:black; 
    text-decoration:none;
}

#projectPageLayout:hover {
    background-color: #9bbdd8;
    box-shadow: 2px 2px 12px rgb(119, 119, 119);
}

#listImg {
    min-width: 80%;
    max-width: 90%;
    max-height: 50%;
}
#listImg2 {
    width: 500px;
    display:inline-block;
}

a {
    text-decoration:none;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 4em;
    color: rgb(0, 0, 0);
    display: inline;
    padding:20px;
}

#codeLink {
    font-size:22px; 
    background-color:rgb(65, 106, 139);
    color:white;
    padding:6px 12px;
    border-radius: 8px;
}

#codeLink:hover {
    background-color:rgb(120, 160, 194);
    color:white;
    box-shadow: 2px 2px 2px rgb(31, 31, 31);;
}

#codeLink:active {
    background-color:rgb(49, 82, 110);
    color:white;
    box-shadow: inset 2px 2px 2px rgb(31, 31, 31);;
}