body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Georgia, Helvetica;
    color: black;
    text-align: center;
}

ul {
    background-color: #252525;
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

ol {
    list-style: none;
    padding-left: 0px;
    text-align: center;
}

hr {
    width: 55%;
    margin-top: 0px;

}

#skillList {
    font-size: 30px;
}

@keyframes logoAnm {
    0% {
        letter-spacing: 0;
    }

    100% {
        letter-spacing: 10px;
    }
}

header {
    background: #262626 url(images/coverBg.png) center;
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
    color: white;
    background-color: #262626;
    text-shadow: 5px 6px 5px #000;
    padding-top: 40px;
    border-bottom: solid #336699 8px;
    box-shadow: inset 0 0 50px 20px black;
}

header h1 {
    white-space: nowrap;
    font-size: 35px;
    margin: auto;
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 10px;
    position: relative;
}

header h1:nth-of-type(2) {
    bottom: 20px;
}

header h4 {
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 10px;
    font-size: 15px;
    position: relative;
    bottom: 50px;
}

#intro {
    display: inline-block;
    margin: 0;
}

#intro img {
    border-radius: 20%;
    position: relative;
    top: 15px;
    height: 70px;
    Width: 70px;
    margin: 10px;
    z-index: 2;
}

#intro a {
    position: relative;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 22px;
    transition: 0.2s;
    text-decoration: none;
}

.contentPosLogo {
    position: absolute;
    top: 80%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.projectContainer {
    margin: 0 auto;
    width: 80%;
}

.projectContainer h1 {
    font-size: 30px;
    font-style: italic;
}

#leftArrow, #rightArrow {
    position: relative;
    bottom: 90px;
    cursor: pointer;
    width: auto;
    color: #336699;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    transition: 0.1s;
    z-index: 99;
}

#leftArrow:hover, #rightArrow:hover {
    color: cornflowerblue;
}

#leftArrow {
    float:left;
}

#rightArrow {
    float:right;
}


.codeProjects {
    position: relative;
    top: -40px;
    transition-duration: 0.4s;
    color: black;
    text-decoration: none;
    animation-name: slide;
    animation-duration: 1s;
}

.codeProjects p {
    font-size: 22px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.codeProjects img {
    max-width: 75%;
    box-shadow: 0 15px 20px -12px black;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
