* {
    box-sizing:border-box;
}

body {
    background-color: #FFF;
    margin: 0;
    font-family:Georgia, Helvetica, Arial;
    color: black; 
    text-align:center;
}

ol {
    list-style:none; 
    padding-left: 0;
    text-align: center;
}

@keyframes logoAnm {
    0% {
        letter-spacing: 0;
    }
    100% {
        letter-spacing: 32px;
    }
}

header {
    width: 100%;
    padding-top: 150px;
}

header h1 {
    white-space: nowrap;
    font-size: 100px;
    margin: auto;
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 32px;
    position: relative;
}

header h1:nth-of-type(2){
    bottom:30px;
}

header h4 {
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 32px;
    font-size: 30px;
    position: relative;
    bottom: 90px;
}

#intro {
    width: 100%;
    margin-top: -150px;
    padding-bottom:160px;
}

#projectContainer{
    display:none;
    margin-top: 100px;
    padding-bottom: 20px;
}

.socialIcon {
    border-radius: 20%;
    position: relative;
    top: 15px;
    height: 70px;
    Width: 70px;
    margin: 15px;
    z-index: 2;
}

#contactEmail {
    border-radius: 10%;
    position: relative;
    top: -5px;
    left: 15px;
    height: 60px;
    margin-right: 60px;
}

#contactEmail:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 20px -12px black;
}

.socialIcon:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 20px -12px black;
}

#intro a {
    position: relative;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: 0.2s;
    text-decoration: none;
}

#dropProjects {
    font-size: 100px;
    text-decoration: none;
    color: black;
}

#projectContainer h1 {
    font-size: 40px;
    letter-spacing: 7px;
}

#leftArrow, #rightArrow {
    position: relative;
    top:140px;
    cursor: pointer;
    width: auto;
    padding: 0 20px;
    margin-top: -22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    transition: 0.1s;
    margin: 0 40px;
    z-index: 99;
}

#leftArrow:hover, #rightArrow:hover {
    color: cornflowerblue;
}

#leftArrow{
    float:left;
}

#rightArrow {
    float: right;
}

.codeProjects {
    position: relative;
    top: -40px;
    transition-duration: 0.4s;
    color: black;
    text-decoration: none;
    animation-name: slide;
    animation-duration: 1s;
}

.codeProjects a {
    position:relative;
    top:16px;
    font-size: 22px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.codeProjects img {
    max-width: 700px;
    max-height: 50%;
    box-shadow: 0 15px 20px -12px black;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #111;
    color: white;
    margin-top: 160px;
}
footer p {
    font-weight:bold;
    position:relative;
    top: 10px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
/* Standard syntax */
@keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/*Media Queries*/
@media screen and (max-width: 900px) {

    @keyframes logoAnm {
        0% {
            letter-spacing: 0;
        }

        100% {
            letter-spacing: 18px;
        }
    }

    header {
        width: 100%;
        height: 600px;
        padding-top: 150px;
    }
    header div {
        position:relative;
        top: 30px;
    }
    header h1 {
        font-size: 70px;
        letter-spacing: 18px;
    }
    header h4 {
        font-size: 40px;
        position:relative;
        letter-spacing: 12px;
    }
    #intro img {
        margin: 10px;
        z-index: 2;
    }

    #contactEmail {
        top: 11px;
        left: 0px;
    }

    #leftArrow, #rightArrow {
        font-size: 100px;
    }

    li img {
        width: 60%;
        box-shadow: 0 15px 20px -12px black;
    }
}

@media screen and (max-width: 500px) {

    @keyframes logoAnm {
        0% {
            letter-spacing: 0;
        }

        100% {
            letter-spacing: 10px;
        }
    }

    header {
        margin-top:30px;
        height: 220px;
        padding-top: 30px;
    }

    header h1 {
        font-size: 40px;
        letter-spacing: 10px;
        bottom: 0px;
    }

    header h1:nth-of-type(2) {
        bottom: 24px;
    }

    header h4 {
        letter-spacing: 10px;
        font-size: 20px;
        position: relative;
        bottom: 60px;
    }

    #projectContainer {
        margin-top: 0px;
    }

    #projectContainer h1 {
        font-size: 30px;
        font-style: italic;
    }

    #intro {
        display: inline-block;
        position:relative;
        top: -50px;
        right: 3px;
        margin: 0;
    }

    #intro img {
        max-height: 50px;
        max-width: 50px;
        margin: 3px;
    }

    #contactEmail {
        top: 11px;
        left: 0px;
        height: 40px; 
    }

    #intro a {
        font-size: 22px;
    }

    #leftArrow, #rightArrow {
        position: relative;
        top: -95px;
        margin: 0px;
        color: #336699;
        font-size: 80px;
    }

    .codeProjects {
        position: relative;
        top: -40px;
        transition-duration: 0.4s;
        color: black;
        text-decoration: none;
        animation-name: slide;
        animation-duration: 1s;
    }

    .codeProjects a {
        position:relative;
        top:12px;
    }

    .codeProjects img {
        max-width: 75%;
        box-shadow: 0 15px 20px -12px black;
    }

    footer {
        margin-top: 100px;
    }
}