@media screen and (min-width:700px) {
    body { background-image: radial-gradient(rgb(255, 255, 255) 0%, rgb(226, 226, 226) 60%, rgb(136, 136, 136) 100%);
    background-attachment: fixed;
    background-size: 100% 100%;
    }
}

body {
    background-color: #f0f0f0;
    margin: 0;
    font-family:Georgia, Helvetica;
    color: black; 
    text-align:center;
}

nav {
    position: fixed;
    top:0px;
    width:100%;
    overflow:hidden;
    z-index:1;
}

#contactEmail {
    color: rgb(0, 0, 0);

}

#contactEmail:hover {
    color: blue;
}

ul {
    background-color: #252525;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol {
    list-style:none; 
    padding:0; 
    border: 1px solid transparent;
    text-align: center;
}

hr {
    width: 20%;
    margin-top:28px;
}

#menuBtn {
    float: left;
    font-family: georgia;
    text-align: center;
    padding: 11px 10px;
    color: white;
    text-decoration: none;
    margin-top: 3px;
    display: block;
    padding: 10px;
    background-color:#252525;
    margin-right:4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#menuBtn:hover {
    background-color: #666666
}

acronym {
    font-weight: bold; 
    font-style: italic; 
    color:black;
}

#TunnelMe {
    box-shadow: 2px 2px 12px rgb(19, 19, 19);
    max-width: 100%;
    max-height: 800px;
    overflow: hidden;
}

#twitterLogo {
    height: 100px;
    Width: 100px; 
    margin:15px;
    z-index: 2;
}

#LinkedInLogo {
    height: 100px;
    Width: 100px;
    margin:15px;
    z-index: 2;
}

#GitHubLogo {
    height: 100px;
    Width: 100px;
    margin:15px;
    z-index: 2;
}

#anmImg {
    width: 30%;
}

#logo2 {
    margin: auto; 
    letter-spacing: 1px;
    text-shadow:3px 6px 8px #1b1b1b;
    position: relative;
    bottom: 100px;
}

.siteLogo {
    white-space: nowrap;
    font-size: 100px;
    display: inline;
    margin: auto;
    letter-spacing: 1px;
    position: relative;
    bottom: 100px;
    padding: 5px;
    padding-left: 12px;
    padding-bottom: 35px;
    text-shadow: 5px 6px 8px #1d1d1d;
}

.contentPos {
    z-index: 0;
    width: 100%;
    margin:auto;
    position:  relative;
    top: 80px;
}

#homepage {
    position: relative;
    text-align: center;
    color:white;
}

.contentPosLogo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MainHeader {
    color:white; 
    font-size:36px;
    font-weight: bold; 
    font-family: Cambria;
    float:left;
    margin-right: 20px;
}

.imgborder {
    border-width: 3px; 
    border-style: solid; 
    border-color: #333333;
}

.shortAM {
    text-align:center; 
    color:black; 
    width:90%; 
    font-size: 18px;
}

#projectPageLayout {
    margin:auto;
    width: 60%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-top: 30px;
    color:black; 
    text-decoration:none;
}

#projectPageLayout:hover {
    background-color: #9bbdd8;
    box-shadow: 2px 2px 12px rgb(119, 119, 119);
}

#listImg {
    width: 80%;
}

a {
    text-decoration:none;
}

h3 {
    text-decoration: underline;
    font-style: italic;
    font-size: 40px;
    color: rgb(46, 55, 77);
}

#codeLink {
    font-size:22px; 
    background-color:rgb(65, 106, 139);
    color:white;
    padding:6px 12px;
    border-radius: 8px;
}

#codeLink:hover {
    background-color:rgb(49, 82, 110);
    color:white;
    box-shadow: 2px 2px 2px rgb(31, 31, 31);;
}

#codeLink:active {
    background-color:rgb(120, 160, 194);
    color:white;
    box-shadow: inset 2px 2px 2px rgb(31, 31, 31);;
}
