body {
    background: #ffffff;
    margin: 0;
    font-family:Georgia, Helvetica;
    color: black; 
    text-align:center;
}

nav {
    position: fixed;
    top:0px;
    width:100%;
    overflow:hidden;
    z-index:1;
}

#contactEmail {
    position:relative;
    bottom: 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#contactEmail:hover {
    color: blue;
}

ul {
    background-color: #252525;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol {
    list-style:none; 
    padding:0; 
    border: 1px solid transparent;
    text-align: center;
}

hr {
    width: 20%;
    margin-top:28px;
}

#menuBtn {
    float: left;
    font-family: georgia;
    text-align: center;
    padding: 11px 10px;
    color: white;
    text-decoration: none;
    margin-top: 3px;
    display: block;
    padding: 10px;
    background-color:#252525;
    margin-right:4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#menuBtn:hover {
    background-color: #666666
}

#skillList {
    font-size: 24px;
}

acronym {
    font-weight: bold; 
    font-style: italic; 
    color:black;
}

#TunnelMe {
    box-shadow: 2px 2px 12px rgb(19, 19, 19);
    max-width: 100%;
    max-height: 800px;
    overflow: hidden;
}

.smIcon {
    border-radius: 20%;
    position: relative;
    height: 65px;
    Width: 65px;
    margin: 0px 10px;
    z-index: 2;
}

#anmImg {
    width: 30%;
}

#logo2 {
    margin: auto;
    font-size: 15px;
    bottom: 25px;
}

@keyframes logoAnm {
    0% {
        letter-spacing: 0px;
    }

    100% {
        letter-spacing: 10px;
    }
}

.siteLogo {
    white-space: nowrap;
    display: inline;
    margin: auto;
    position: relative;
    bottom: 30px;
    padding: 5px;
    padding-left: 12px;
    padding-bottom: 35px;
    text-shadow: 5px 6px 8px #1d1d1d;
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 10px;
}


#homepage {
    position: relative;
    text-align: center;
    color:white;
}

.contentPosLogo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projectPageLayout {
    position: relative;
    top: -80px;
    transition-duration: 0.4s;
    color: black;
    text-decoration: none;
    animation-name: slide;
    animation-duration: 1s;
}

.projectContainer {
    margin: 0 auto;
    width: 80%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0px;
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0px;
        opacity: 1;
    }
}

a {
    text-decoration: none;
    white-space: pre-wrap;
}

h1 {
    font-size: 30px;
}

h2 {
    text-decoration:underline;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}

#codeLink:hover {
    background-color: rgb(120, 160, 194);
    color: white;
}

#codeLink:active {
    background-color: rgb(49, 82, 110);
    color: white;
    box-shadow: inset 2px 2px 2px rgb(31, 31, 31);
}

#leftArrow, #rightArrow {
    position: relative;
    top: -50px;
    font-size: 60px;
    padding: 0px 20px;
}
