* {
    box-sizing:border-box;
}

body {
    background-color: #FFF;
    margin: 0;
    font-family:Georgia, Helvetica, Arial;
    color: black; 
    text-align:center;
}

ul {
    background-color: #252525;
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

ol {
    list-style:none; 
    padding-left: 0;
    text-align: center;
}

hr {
    margin-left:20%;
    width: 60%;
    margin-top: 0px;
}

#skillList {
    font-size: 40px;
}

@keyframes logoAnm {
    0% {
        letter-spacing: 0;
    }
    100% {
        letter-spacing: 32px;
    }
}
header {
    background: #262626 url(images/coverBg.png);
    width: 100%;
    max-width: 100%;
    height: 350px;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 5px 6px 5px #1a1a1a;
    padding-top: 30px;
    border-bottom: solid #336699 8px;
    box-shadow: inset 0 0 80px 40px black;
}

header div {
    position: relative;
    top: 5px;
}

header h1 {
    white-space: nowrap;
    font-size: 100px;
    margin: auto;
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 32px;
    position: relative;
}

header h1:nth-of-type(2){
    bottom:30px;
}

header h4 {
    animation: 2s ease-out 0s 1 logoAnm;
    letter-spacing: 32px;
    font-size: 30px;
    position: relative;
    bottom: 90px;
}

#intro {
    display: inline-block;
    margin: 0 80px;
}

#intro img {
    border-radius: 20%;
    position: relative;
    top: 15px;
    height: 100px;
    Width: 100px;
    margin: 15px;
    z-index: 2;
}

#intro img:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 8px black;
}

#intro a {
    position: relative;
    bottom: 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    transition: 0.2s;
    text-decoration: none;
}

#intro p:hover {
    color: blue;
    transform: scale(1.1)
}

.projectContainer h1 {
    font-size: 40px;
    letter-spacing: 7px;
}

#leftArrow, #rightArrow {
    position: relative;
    top:140px;
    cursor: pointer;
    width: auto;
    padding: 0 20px;
    margin-top: -22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    transition: 0.1s;
    margin: 0 40px;
    z-index: 99;
}

#leftArrow:hover, #rightArrow:hover {
    color: cornflowerblue;
}

#leftArrow{
    float:left;
}

#rightArrow {
    float: right;
}

.codeProjects {
    position: relative;
    top: -40px;
    transition-duration: 0.4s;
    color: black;
    text-decoration: none;
    animation-name: slide;
    animation-duration: 1s;
}

.codeProjects p {
    font-size: 22px;
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}

.codeProjects img {
    max-width: 50%;
    max-height: 50%;
    box-shadow: 0 15px 20px -12px black;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
/* Standard syntax */
@keyframes slide {
    from {
        right: 100px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/*Media Queries*/
@media screen and (max-width: 926px) {
    header {
        height: 300px;
    }
    header div {
        top: 50px;
    }
    header h1 {
        font-size: 55px;
        letter-spacing: 18px;
        bottom: 10px;
    }
    header h4 {
        font-size: 30px;
        bottom: 80px;
        letter-spacing: 12px;
    }
    #intro img {
        margin: 10px;
        z-index: 2;
    }
    #leftArrow, #rightArrow {
        font-size: 100px;
    }
}