body {
    text-align: center;
    font-family: Montserrat;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: inline-block;
    font-size: 30px;
}

#projects > div > div > img {
    border: solid 1px black;
}

@media (max-width: 400px) {
    li {
        font-size: 24px;
    }
}
a:hover {
    text-decoration: none;
}

li > a:hover {
    text-decoration: none;
    filter:blur(1px);
}

.projImg {
    height: 100%;
    width: 100%;
}

.projCard {
    background-size: cover;
    background-repeat: no-repeat;
    height: 16vh;
    max-width: 100%;
    border: black 1px solid;
    text-decoration: none;
}

.projCard > h3 {
    position: relative;;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    display: none;
}
@keyframes projHover {
    from { background-color: rgba(0, 0, 0, 0) }
    to { background-color: rgba(0, 0, 0, 0.856)}
}
.projCard:hover {
    animation-name: projHover;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.856);
    background-blend-mode: color;
}

@keyframes titleDrop {
    from {top: 20%;} to { top: 40%; }
}
.projCard:hover > h3 {
    animation-name: titleDrop;
    animation-duration: 0.4s;
    display: block;
    color: white;
    text-decoration: none;
}

.btn-color {
    background-color: #dbc8b8;
    color: rgb(66, 66, 66);
    font-weight: bold;
}

.card-header {
    font-size: 20px;
    background-color: #eee1d6;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

@keyframes linkHover {
    from { border-radius: 0}
    to { border-radius: 50%}
}
@keyframes linkUnhover {
    from { border-radius: 50%}
    to { border-radius: 0}
}

#links > a > img {
    height: 40px;
    animation-name: linkUnhover;
    animation-duration: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
}

#links > a > img:hover{
    animation-name: linkHover;
    animation-duration: 0.2s;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {

}