body {
    text-align: center;
    font-family: Montserrat; /* consolas ?*/
    background: url('./images/seamless_paper_texture.png') repeat;
}

.infoCard {
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: left;
    /* color: #94CEC0; */
    color: white;
    background-color: rgb(51 51 51);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.cvCardHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: white;
}
.cvJobDate {
    font-size: 14px; 
    color: #DBC8B8;
}

#carouselShieldmaiden {
    display: inline-block; 
    width: calc(50% - 10px) !important; 
    position: relative;
    top: -20px;
}
.carouselStyle {
    max-width: 800px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 3px 3px 18px rgb(0 0 0 / 50%);
    box-shadow: 3px 3px 18px rgb(0 0 0 / 50%);
}
.carousel-inner {
    border: solid 1px rgb(173, 173, 173)
}

.carouselImgs > img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 400px;
}
#home {
    margin-top: 90px;
}
#picOfMe {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 120px;
}
#picOfMe > img {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%)
}
#picOfMe > img, #picOfMe > div {
    margin: 10px;
    margin-bottom: 40px;
    width: 300px;
    border-radius: 5px;
}
#picOfMe > div > p {
    position: relative;
    top: 20%;
}

#NHS, #Others {
    text-align: left;
}

#techIcons {
    height: 0;
    position: relative;
    top: 50px;
}

.techIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.techIcon > img {
    width: 75px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    max-width: 1125px;
}

.material-icons {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px !important;
    color: #f8f9fa;
}

.ytWrapper {
    margin-left:auto;
    margin-right:auto;
    flex: auto;
    width: calc(50% - 10px); 
    height: 300px;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

@media only screen and (max-width: 766px) {
    #home {
        margin-top: 20px;
    }
    #picOfMe {
        margin-bottom: 0px;
    }
    #picOfMe > div > p {
        top: -50%;
    }
    #techIcons {
        top: -50px;
    }
    .techIcon > img {
        width: 40px;
    }
    .ytWrapper {
        width: 510px;
        height: 250px;
        max-width: 100%; 
    }
    #carouselShieldmaiden {
        width: 100% !important;
    }
}