@keyframes linkHover {
    from { border-radius: 0}
    to { border-radius: 50%}
}
@keyframes linkUnhover {
    from { border-radius: 50%}
    to { border-radius: 0}
}

img {
    height: 40px;
    animation-name: linkUnhover;
    animation-duration: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
}

img:hover{
    animation-name: linkHover;
    animation-duration: 0.5s;
    border-radius: 50%;
}