<div>
  <a target="_blank" href="mailto:ryan.beckett@outlook.com"><img src="assets/icons/mail.svg"></a>
  <a target="_blank" href="https://www.linkedin.com/in/ryan-beckett-75112510b/"><img src="assets/icons/linkedin.svg"></a>
  <a target="_blank" href="https://twitter.com/RyanBcktt"><img src="assets/icons/twitter.svg"></a>
  <a target="_blank" href="https://www.instagram.com/ryan.bcktt/"><img src="assets/icons/instagram.svg"></a>
  <a target="_blank" href="https://github.com/cPango"><img src="assets/icons/github.png"></a>
</div>