<h1>Who am I?</h1>

<p class="lead">
    My goal is to become a fullstack developer profficient in .Net Core technologies and Angular on the front end.
    I got into programming through curiosity beginning with C#, then after a few console apps I moved on to web development. 
    Through the use of books and online resources I am always exploring new areas of computer science and coding as both a 
    hobby and for self-development.
</p>
<p class="lead">
    Technology is not my only interest, I finished university with a degree in Music Production and still enjoy
    playing instruments (mostly the guitar and piano) and producing instrumentals to occasionally improvise over.
</p>

<h1>Work</h1>

<div class="jobDesc">
    <h4><b>Health Informatics Programme Admin</b></h4>
    <span><b>Blackpool Victoria Hospital</b></span>
    <p><b>September 2018 – Present</b></p>
    <p>
        In this role I manage proposals for new services, software and suppliers by collecting all the necessary details and presenting it to senior managers within the trust. This involves looking at the advantages of bringing in the proposal, what resources will be required, how in-depth a data protection impact assessment must be, finding better solutions etc.<br>
        Another part of my role is to set up meetings for the project managers and external companies we are contracted to, take minutes and help test software during it's pilot/upgrade.
        Finally I am responsible for the team's SharePoint website, which I have designed with the feedback of my peers; aiming to fit the needs of my team and be as efficient as possible.
    </p>
</div>

<div class="jobDesc">
    <h4><b>Information Governance Officer</b></h4>
    <span><b>Blackpool Victoria Hospital</b></span>
    <p><b>August 2017 – August 2018</b></p>
    <p>
        My main priorities in this role involved auditing the hospital wards and offices, discovering any possible risks/data breaches, advising staff members on any issues concerning data protection, handling Freedom of Information requests and publication to the trust's disclosure log, training staff to be compliant in data protection, which was mandatory through the IG toolkit (now Data Security and Protection Toolkit) and finally advising on projects <br>
        During my time here I took a course on the General Data Protection Regulation (GDPR) and Data Protection Act 2018 with 'Act Now' since I was required to have an in-depth understanding of these legislation.
    </p>
</div>

<div class="jobDesc">
    <h4><b>Medical Records Clerk</b></h4>
    <span><b>Blackpool Victoria Hospital</b></span>
    <p><b>June 2017 – August 2017</b></p>
    <p>
        I was required to store and retrieve patient notes from around the hospital, trace them to the correct departments and prepare them in time for appointments. This means confirming all the details for the patient inside are still correct by matching it to the system,putting together new folders if necessary and finding previous references from GP’s or other areas of the hospital to place into the file.
    </p>
</div>