#siteLogo{
    display:none;
}

#menuIcon {
    display: none;
}
.nav-web{
    text-align: center;
    padding: 0;
}
.nav-web > li {
    display:inline-block;
}

ul > li > a {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

ul > li > a:hover {
    animation: blurry 0.5s;
    filter: blur(1.5px);
}

@keyframes blurry {
    from {filter: blur(0px);}
    to {filter: blur(1.5px);}
}

@media screen and (max-width: 480px){
    ul > li > a {
        font-size: 36px;
        padding: 4px;
        margin: 5px;
        background-color: rgb(107, 107, 107);
        color: white;
    }
    ul > li > a:hover {
        animation: none;
        filter: none;
        background-color: rgb(136, 136, 136);
    }
    .nav-web > li {
        display:block;
    }
    #menuIcon{
        display:block;
        margin-left: 10px;
    }
    #dash {
        display:none;
    }
    #siteLogo{
        display:block;
        width: 100%;
    }
}