<h1><b>Projects</b></h1>

<div>
  <div class="project">
    <img class="project_image" src="assets/img/repoViewerV2.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">Repo*Viewer~V2</h4>
      <p>Using Angular, this app pulls Repo's through GitHub's API and displays their commits</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/repoViewerV2">See code</a> / 
      <a class="project_link" target="_blank" href="http://www.ryanbeckett.uk/repoViewerV2/">Try App</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/CCC.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">Cybele Cycling Club [WiP]</h4>
      <p>Website built with bootstrap and custom CSS</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/CybeleSite">See code</a> / 
      <a class="project_link" target="_blank" href="https://cranky-lamport-8a6267.netlify.com/">See Website</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/ickletots.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">IckleTots</h4>
      <p>Website built with bootstrap and custom CSS</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/IckleTots.com">See code</a> / 
      <a class="project_link" target="_blank" href="https://www.IckleTots.com">See Website</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/unit21.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">Unit 21 [WiP]</h4>
      <p>Website built with bootstrap and custom CSS</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/Unit21">See code</a> / 
      <a class="project_link" target="_blank" href="https://affectionate-jones-0078ba.netlify.com/">See Website</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/ListProj.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">List in Local Storage</h4>
      <p>My first ever application developed with vanilla Javascript & some Jquery</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/ListApp-Web-Storage-API">See code</a> / 
      <a class="project_link" target="_blank" href="https://www.ryanbeckett.uk/ListApp-Web-Storage-API/">See App</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/arpm.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">AR-Property Maintenance</h4>
      <p>Website built with bootstrap and custom CSS</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/arPropertyMaintenance">See code</a> / 
      <a class="project_link" target="_blank" href="https://www.ar-propertymaintenance.co.uk">See Website</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/discordBot.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">Discord Bot</h4>
      <p>A Discord companion with multi-functionality. Written with NodeJS</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/discordBot">See code</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/PlayerVsFoe_Game.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">Knights & Warlocks</h4>
      <p>A text-based RPG for the console written in C#</p>
      <a class="project_link" target="_blank" href="https://github.com/cPango/KnightsAndWarlocks">See code</a>
    </section>
  </div>

  <div class="project">
    <img class="project_image" src="assets/img/TicTacToeGame.png"/>
    <section class="project_infoColumn">
      <h4 class="project_title">Tic Tac Boom!</h4>
      <p>A simple game of Tic Tac Toe written in C#</p>
      <a class="project_link" target="_blank" href="https://gist.github.com/cPango/17d8b4be56a1505fd26b1fbb449326a6">See code</a>
    </section>
  </div>

</div>