body {
    background: url('../images/seamless_paper_texture_dark.png') repeat;
    color: white;
    font-family: Roboto !important;
}

h2 {
    text-align: center;
    color: #e4c9b0;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 0;
}

h4:first-of-type {
    margin-top: 0;
}

h4 {
    color: #97cfc1
}

a {
    color:#00b6ff;
}
.keywords {
    color: #efd7b4;
    font-weight: normal;
}

.blogWrapper {
    position: relative;
    max-width: 800px;
    margin: 10px auto;
    text-align: start;
    padding: 40px;
    padding-bottom:100px;
    background-color: #222223;
}

.refAsterisk {
    font-weight: bold;
    font-size: small;
}

.homeBtn {
    position: absolute;
    top: 4px;
    right: 9px;
    color: #65d3ff;
    text-decoration: none;
}

.homeBtn:hover {
    font-weight: bold;
}

.vbPos {
    color: #00b6ff;
}
.vbCol {
    color: #1bff1b;
}
.vbNorm {
    color: #ff7575;
}

@media only screen and (max-width: 500px) {
    .blogWrapper {
        padding: 20px;
    padding-bottom:100px;
    margin-top:0px;
    }
    h4:first-of-type {
        margin-top: 10px;
    }
}