@media only screen and (max-width: 1000px) {
    .reverseFlexMobile {
        flex-wrap: wrap-reverse;
    }
}
@media only screen and (max-width: 639px) {
    #home {
        margin-top: 20px;
    }
    #picOfMe {
        margin-bottom: 0px;
    }
    #picOfMe > div > p {
        top: -50%;
    }
    #techIcons {
        top: -50px;
    }
    .techIcon > img {
        width: 40px;
    }
    #img3d > img {
        height: 200px;
    }
}

@media only screen and (max-width: 500px) {
    .ytWrapper {
        height: 165px;
        width: 300px !important;
    }
}

@media only screen and (max-width: 400px) {
    #img3d > img {
        height: 175px;
    }
}
