body {
    text-align: center;
    font-family: Montserrat; /* consolas ?*/
    background: url('../images/seamless_paper_texture.png') repeat;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
}
h2, h4, h5 {
    margin-bottom: 0;
}
h4 {
    font-size: 1.5rem;
    font-weight: 400;
}
h5 {
    font-size: 1.25rem;
}

#home {
    margin-top: 90px;
    position: relative;
    max-width: 100%;
    animation: 0.8s ease-in 0s forwards homeBannerIntro;
}
#picOfMe {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    font-weight: bold;
    position:relative;
    animation: 0.8s ease-in 0s forwards homeBannerIntro;
    margin: auto;
    margin-bottom: 120px;
    justify-content: center;
}
#picOfMe > img {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
}
#picOfMe > img, #picOfMe > div {
    margin: 10px;
    margin-bottom: 40px;
    width: 300px;
    border-radius: 5px;
}
#picOfMe > div > p {
    position: relative;
    top: 20%;
}


#techIcons {
    height: 0;
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}

.techIcon > img {
    width: 60px;
}
.techIcon > img:hover {
    width: 60px;
    animation: 2s linear infinite blowUp;
}

#referenceSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.referenceItem {
    width: 400px;
    padding: 30px;
}

.bookmark {
    display: flex;
    justify-content: space-around;
}

.bookmark div {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bookmark div {
    height: 60px;
    width: 80px;
    background: #97cfc1;
    position:relative;
    box-sizing: border-box;
    border-left: solid 1px #97cfc1; 
    border-right: solid 1px #97cfc1; 
    box-shadow: 0px 29px 54px 7px;
    font-weight: bold;
}
.bookmark div::before, .bookmark div::after {
    content:"";
    position: absolute;
    height: 0;
    width: 0; 
    top:0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
}
.bookmark div::before {
    left:-40px;
    border-right:40px solid #97cfc1; 
}
.bookmark div::after {
    right:-40px;
    border-left:40px solid #97cfc1; 
}

code {
    display: inline-block;
    white-space: pre-line;
    border: solid 1px white;
    padding: 10px;
}